<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>RBOCC</title>
    <meta name="Header Trial" content="Header Trial">
    <meta name="Westlake" content="HTML, CSS">
    <meta name="author" content="Oskar Morris Mandell, Max Wang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="main_container">
      <header class="row">
          <div class=" py-3 col-5 col-md-4 col-xl-3 m-3" id="logo">
            <img src="resources/RBOCC_WHITE_COLOUR.png" alt="RBOCC logo" class="img-fluid">
          </div>
          <div class="col-6 col-md-7 col-xl-8 mt-5 ml-1"><div id="title">RED BEACH OUTRIGGER'S CANOE CLUB</div></div>
      </header>
      
      <div id="border_con"></div>

      <div class="mid_con">
      </div>

      <footer class="footer">
        <div class="footer_container">
            <div class="row">
                <div class="col-md-4 col">
                    <h4 class="footer_title_find_us">Find Us</h4>
                    <h5 class="Find_Us_info">
                        Red Beach
                    </h5>
                    <h5 class="Find_Us_info">
                        Ngapara Street
                    </h5>
                    <h5 class="Find_Us_info">
                        Whangaparoa
                    </h5>
                    <h5 class="Find_Us_info">
                        Auckland 0932
                    </h5>
                </div>
                <div class="col-md-4 col">
                    <h4 class="footer_title_contact_us">Contact Us</h4>
                    <ul>
                        <li class="footer_email"><a class="content" href="#">info@rbocc.co.nz</a></li>
                        <li class="footer_email"><a class="content" href="#">president@rbocc.co.nz</a></li>
                        <li class="footer_email"><a class="content" href="#">treasurer@rbocc.co.nz</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col">
                    <h4 class="footer_title_follow_us">Follow Us</h4>
                    <div>
                        <a class="social_links" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="social_links" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="social_links" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    </div>
  </body>
</html>
