<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pupuke Kahui Ako">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Max Wang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pupuke Khui Ako</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div id="page_container">
        <footer>
            <div class="waiata_sentence">
                <p id="line1">‘Ehara taku toa i te toa takitahi, engari he toa takitini’ – </p>
                <p id="line2">success is not the work of an individual, but the work of many.
                </p>
            </div>
            <ul class="footer_nav">
                <li class="strong_text"><a href="Home.html">Home</a></li>
                <li class="lighter_text"><a href="rangitoto_island_and_Waitematā_harbour.html">Rangitoto Island and Waitematā harbour</a>
                </li>
                <li class="lighter_text"><a href="Lake_Pupuke_and_Ngāti_Pāoa.html.">Lake Pupuke and Ngāti Pāoa</a></li>
            </ul>
            <div id="footer_logo">
                <h1>Pupuke Khui Ako</h1>
            </div>
        </footer>
    </div>
</body>

</html>