<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="header3_style.css">
    <title>RBOCC</title>
    <meta name="Header Trial" content="Header Trial">
    <meta name="Westlake" content="HTML, CSS">
    <meta name="author" content="Oskar Morris Mandell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="main_container">
      <header>
        <header class="row">
          <div class=" py-3 col-5 col-md-4 col-xl-3 m-3" id="logo">
            <img src="RBOCC_WHITE_COLOUR.png" alt="RBOCC logo" class="img-fluid">
          </div>
          <div class="col-6 col-md-7 col-xl-8 mt-5 ml-1"><div id="title">RED BEACH OUTRIGGER'S CANOE CLUB</div></div>
      </header>
      <div class="mb-3"><div id="border_con"></div></div>
      <div id="nav_con">
        <nav>
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="">Members</a>
            </li>
            <li>
              <a href="">Safety</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
          </nav>
          </div>
      <div id="border_con2"></div>
    

      
      <div class="mid_con">
      </div>
      
      <footer>
      </footer>
    </div>
  </body>
</html>
