<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>RBOCC</title>
    <meta name="Header Trial" content="Header Trial">
    <meta name="Westlake" content="HTML, CSS">
    <meta name="author" content="Oskar Morris Mandell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="nav_container">
      <div id="border_con"></div>
      <div id="nav_con">
        <nav class="row">
          <ul>
            <li class="active">
              <a href="index.html"><div class="col-md-4">HOME</div></a>
            </li>
            <li>
              <a href="index.html"><div class="col-md-4">MEMBERS</div></a>
            </li>
            <li>
              <a href="index.html"><div class="col-md-4">INFO</div></a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
      <div id="border_con2"></div>

    </div>
  </body>
</html>
