.footer_container {
	text-align: center;
	margin: auto;
}


ul {
	list-style: none;
}

.footer{
	background-color: #FDC010;
	padding: 20px 0;
}

.footer_title {
	font-size: 25px;
	color: #E42D26;
	text-transform: capitalize;
	margin-bottom: 30px;
	position: relative;
}

.footer_title::before {
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: #E42D26;
	height: 2px;
	box-sizing: border-box;
	width: 120px;
}

.Find_Us_info {
	font-size: 16px;
	color: #E42D26;
	font-weight: 300;
}

.content {
	margin-left:-30px;
	font-size: 16px;
	color: #E42D26;
	font-weight: 300;
	display: block;
}

.social_links {
	font-size: 30px;
	display: inline-block;
	margin-left: 8px;
	text-align: center;
	color:#E42D26;
}