@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.footer_container {
	text-align: center;
	margin: auto;
}


ul {
	list-style: none;
}

/* I changed the full color schedule of the page to make it more match to the whole website */

.footer{
	background-color: #2FBEC2;
	padding: 20px 0;
}

/* I used seperate css code to change the line length of each title to make the page to be more comfortable.*/

/* I added a red line on the top of the footer to make the footer to have more feeling of design */

.footer::before {
	content: '';
	position: absolute;
	margin-top:-20px;
	width: 100%;
	height: 10px;
	background: #E42D26;
}

/* The font size of the title is changed to be bigger order to match the size of the context */

.footer_title_find_us {
	font-size: 25px;
	font-family: 'Poppins',sans-serif;
	color: white;
	text-transform: capitalize;
	margin-bottom: 30px;
	position: relative;
}

/* I changed the color from red to white and blue which make it be more fit. */

.footer_title_find_us::before {
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 90px;
}

.footer_title_contact_us {
	font-size: 25px;
	font-family: 'Poppins',sans-serif;
	color: white;
	text-transform: capitalize;
	margin-bottom: 30px;
	position: relative;
}


.footer_title_contact_us::before {
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 140px;
}

.footer_title_follow_us {
	font-size: 25px;
	font-family: 'Poppins',sans-serif;
	color: white;
	text-transform: capitalize;
	margin-bottom: 30px;
	position: relative;
}


.footer_title_follow_us::before {
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 120px;
}

.Find_Us_info {
	font-size: 16px;
	color: white;
	font-weight: 300;
}

.content {
	margin-left:-30px;
	font-size: 16px;
	color: white;
	font-weight: 300;
	display: block;
}

.social_links {
	font-size: 30px;
	display: inline-block;
	margin-left: 8px;
	text-align: center;
	color:white;
}